body{
    padding: 0;
    margin: 0;
    background-image: url(../img/background.png);
    background-size: 100%;
}
/*Header*/

#header {
    position: relative;
    background-color : #ffd9d9;
    height: 45px;
    display: flex;
}
#header img{
    height: 90%;
    margin-left: 10px;
}
#header h1{
    align-items: center;
    padding: 0;
    font-family: Josefin Sans ;
    font-size: 20px;
    margin-left: 10px;
}
#search_box{ 
    display: flex;
    position: relative;
    background-color:#ffffff;
    border:solid 2px black;
    border-radius:20px;
    height: 40%;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}
#search_text{
    float:left;
    background-color:none;
    padding-left:15px;
    font-style:italic;
    font-size:14px;
    border:none;
    border-radius: 15px;
    outline: none;
    width: 200%;
    position: relative;
    height: 80%;
}
#search_box img{
    margin: 0;
    padding: 0;
    align-items: center;
    width: 60%;
    justify-content: flex-end;
    position: relative;
}
#login{
    display: flex;
    padding: 0;
    align-items: center;
    margin-right: 50px;
}
#login img{
    align-items: center;
    height: 50%;

}
#login a{
    text-decoration: none;
    color: black;
}
#login p{
    width: 100px;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 5px;
    font-size: 12px;
}
.navbar{
    display: flex;
    overflow: hidden;
    background-color: #724848;
    justify-content: space-around;
    height: 30px;
    align-items: center;
}
.navbar a{
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.dropdown{
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn{
    font-size: 14px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
}
.dropdown-content a{
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left; 
}
.navbar a:hover, .dropdown:hover .dropbtn{
    background-color: rgba(255, 0, 0, 0.24);
}
.dropdown-content a:hover{
    background-color: #ddd;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}